* {
	margin: 0;
	padding: 0;
	line-height: 16px;
	font-size: 16px;
	font-family: "Signika", sans-serif;
}

#page-header {
	padding-top: 16px;
}

#page-header * {
	line-height: 64px;
	font-size: 24px;
	vertical-align: middle;
	padding-left: 16px;
	padding-right: 16px;
	float: left;
}

#page-header:after {
	content: " ";
	display: block;
	clear: both;
}

#logo * {
	line-height: 32px;
	font-size: 32px;
	float: none;
}

#searchbar {
	padding: 0;
	padding-left: 8px;
	margin-top: 16px;
	border: 2px solid black;
	background-color: gray;
}

#searchbar * {
	background-color: gray;
}

#searchbar img {
	padding: 0;
	padding-top: 4px;
	vertical-align: middle;
}

#searchbar input {
	width: 12em;
	line-height: 24px;
	font-size: 24px;
	padding: 0;
	padding-left: 8px;
	border: 0;
}

input:focus {
	outline: none;
}

#navigation {
	float: right;
}

#navigation * {
	padding: 0;
	padding-left: 8px;
	padding-right: 8px;
}

#tagline {
	padding: 16px;
	padding-top: 48px;
	padding-bottom: 48px;
	width: 75em;
	margin: auto;
}

#tagline p {
	text-align: center;
	line-height: 64px;
	font-size: 64px;
}

#spotlight-panel {
	width: max-content;
	align-content: center;
	padding-top: 16px;
	padding-bottom: 16px;
}

#spotlight-panel:after {
	content: " ";
	display: block;
	clear: both;
}

#spotlight-panel div {
	float: left;
	padding-right: 48px;
}

#spotlight-panel div > p {
	line-height: 24px;
	font-size: 24px;
}

#shop-button {
	padding: 16px;
}

#shop-button input {
	background-color: green;
	color: white;
	height: 48px;
	line-height: 32px;
	font-size: 32px;
	margin: auto;
	border: 0;
}

.last > *,
.last *,
.last {
	padding-right: 0;
}
